In [491]:
import pandas as pd

In [492]:
df = pd.read_csv(r"../data/spam.csv", encoding = "ISO-8859-1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

удаляю лишние столбцы

In [493]:
df.drop (df.columns [[2, 3, 4]], axis= 1 , inplace= True )
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

кодирую метки классов

In [494]:
a={"ham": 0,
   "spam": 1}
df["v1"]= df['v1'].map(a)
df

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [495]:
import spacy
from sklearn.feature_extraction.text import CountVectorizer

#df = df.iloc[:40]

def list_to_str(x):
    s=""
    for i in x:
        s+=i+" "
    return s

def lemmatization(x):
    nlp = spacy.load("en_core_web_sm")
    doc = nlp(x)
    data_lematized = [word.lemma_ for word in doc]
    return(list_to_str(data_lematized))

# вот до сюда не использую, тут я просто пытался сделал лемматизацию 
# добавляю в лист тексты из строчек
a=[]
for i in range(df.shape[0]):
    a.append(df["v2"][i])
# применяю bag- of words
vect = CountVectorizer(min_df=5, stop_words='english')
bow = vect.fit_transform(a)
bow.shape

(5572, 1602)

Я тут циферки прикинул, за одну секунду обрабатывается две строчки, у меня 5000 строк, это 2 часа 40 минут. Сегодня будет без лемматизации

In [496]:
# преобразую векторы из циферок в датафрейм
words = pd.DataFrame(bow.A, columns=vect.get_feature_names_out())

In [497]:
words

,00,000,02,03,04,06,0800,08000839402,08000930705,0870,...,yogasana,yr,yrs,yun,yup,zed,ì_,ìï,û_,ûò
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [498]:
target=df["v1"]
target

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

In [499]:
data = pd.concat([target, words], axis = 1,ignore_index = True)
data.shape

(5572, 1603)

In [500]:
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [501]:
from sklearn.decomposition import PCA
# унижаю размерность предикторов
pca = PCA(n_components=5)
X_pca = pca.fit_transform(words, target)

print(words.shape)
print(X_pca.shape)

(5572, 1602)
(5572, 5)

In [502]:
# *** ИСПОЛЬЗОВАТЬ САМОСТОЯТЕЛЬНО РЕАЛИЗОВАННЫЕ МОДЕЛИ ИЗ ПРЕДЫДУЩИХ ЛР
from math import sqrt
from scipy.stats import mode
import numpy as np

class KNNMethod:
    def __init__(self, x_train, y_train, k_neighbors):
        self.x_train=x_train
        self.y_train=y_train.array
        self.k_neighbors = k_neighbors

    def predict(self, x_test):
        x_test=x_test
        classes=[]
        for test_index, test_predictors in enumerate(x_test):
            distances  = []
            for train_index, train_predictors in enumerate(self.x_train):
                distance=0
                for i in range(len(test_predictors)):
                    distance += (test_predictors[i] - train_predictors[i]) ** 2
                distances.append(
                    [sqrt(distance), self.y_train[train_index]]
                )
            distances.sort(key=lambda x: x[0])
            neighbours = distances[:self.k_neighbors]
            classes.append(mode(np.array(neighbours)[:, 1]).mode)
        return classes

In [503]:
#провожу классификацию с помощью моего кнн

X_train, X_test, y_train, y_test = train_test_split(X_pca, target, test_size=0.33)
bag = KNNMethod(X_train, y_train, 9)
print(classification_report(y_test, bag.predict(X_test)))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      1596
           1       0.87      0.84      0.86       243

    accuracy                           0.96      1839
   macro avg       0.92      0.91      0.92      1839
weighted avg       0.96      0.96      0.96      1839

In [504]:
#провожу классификацию с помощью бэггинга

X_train, X_test, y_train, y_test = train_test_split(X_pca, target, test_size=0.33)
bag = BaggingClassifier().fit(X_train, y_train)
print(classification_report(y_test, bag.predict(X_test)))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98      1620
           1       0.86      0.80      0.83       219

    accuracy                           0.96      1839
   macro avg       0.92      0.89      0.91      1839
weighted avg       0.96      0.96      0.96      1839

## LDA

In [505]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.datasets import fetch_20newsgroups

In [506]:
n_samples = 2000
n_features = 1000
n_topics = 10
n_top_words = 20

In [507]:
def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic #%d:" % topic_idx)
        print(" ".join([feature_names[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))

In [508]:
lda = LatentDirichletAllocation(n_components=n_topics, max_iter=20,
                                learning_method='online',
                                learning_offset=50.,
                                random_state=0).fit(data)

In [509]:
# матрица темы-слова
lda.components_.shape

(10, 1603)

In [510]:
# матрица документы-темы
lda.transform(data).shape

(5572, 10)

In [511]:
print_top_words(lda, vect.get_feature_names_out(), 10)

Topic #0:
00 freemsg txtauction texting urawinner replying stopped high phones xchat
Topic #1:
okay lose liked watch askd cost london salary dunno tomo
Topic #2:
times hg didn imagine babes meeting yest weekend workin yahoo
Topic #3:
numbers activate shuhui 00 coffee earth selection looks meant 80062
Topic #4:
wanted needs juz plus telling saying surely messages month ring
Topic #5:
00 prob catch wonder class mobiles urgnt freemsg contacted cut
Topic #6:
gone honey knows dad ìï lets picked goto good waiting
Topic #7:
guaranteed luck comes goto ok green dollars juz liked wear
Topic #8:
lmao sort latest dont year seriously sending juz meh texting
Topic #9:
days goodmorning loved door urawinner december hard thinkin lift mother