#Лабораторная работа №4. ОБУЧЕНИЕ С УЧИТЕЛЕМ. ЗАДАЧА КЛАССИФИКАЦИИ.<BR>

In [742]:
import pandas as pd
from sklearn.datasets import make_classification
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn. preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import sklearn.metrics as metric
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn import svm

## Задание 1

Какова вероятность отправиться на прогулку если идёт дождь, при наличии следующих наблюдений?

In [743]:
data = pd.DataFrame([
        ('солнечно', True),
        ('снег', False),
        ('облачно', False),
        ('дождь', False),
        ('солнечно', True),
        ('снег', False),
        ('облачно', True),
        ('снег', False),
        ('солнечно', False),
        ('облачно', True),
        ('снег', True),
        ('солнечно', True),
        ('дождь', False),
        ('дождь', True),
        ('облачно', True),
])
data.columns=["weather","walk"]
data

     weather   walk
0   солнечно   True
1       снег  False
2    облачно  False
3      дождь  False
4   солнечно   True
5       снег  False
6    облачно   True
7       снег  False
8   солнечно  False
9    облачно   True
10      снег   True
11  солнечно   True
12     дождь  False
13     дождь   True
14   облачно   True

In [744]:
walk_probably = len(data.loc[(data['weather'] == 'дождь') & (data['walk'] == True)]) / len(data.loc[data['weather'] == 'дождь'])
print(walk_probably)

0.3333333333333333

## Задание 2

предобработка

In [745]:
data=pd.read_csv("../data/weatherAUS.csv")
data.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No

In [746]:
print(len(data.loc[data['RainToday'] == "Yes"]))
print(len(data.loc[data['RainToday'] == "No"]))

31880
110319

In [747]:
data.dropna(inplace=True,ignore_index=True)

In [748]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           56420 non-null  object
 1   Location       56420 non-null  object
 2   MinTemp        56420 non-null  float64
 3   MaxTemp        56420 non-null  float64
 4   Rainfall       56420 non-null  float64
 5   Evaporation    56420 non-null  float64
 6   Sunshine       56420 non-null  float64
 7   WindGustDir    56420 non-null  object
 8   WindGustSpeed  56420 non-null  float64
 9   WindDir9am     56420 non-null  object
 10  WindDir3pm     56420 non-null  object
 11  WindSpeed9am   56420 non-null  float64
 12  WindSpeed3pm   56420 non-null  float64
 13  Humidity9am    56420 non-null  float64
 14  Humidity3pm    56420 non-null  float64
 15  Pressure9am    56420 non-null  float64
 16  Pressure3pm    56420 non-null  float64
 17  Cloud9am       56420 non-null  float64
 18  Cloud3pm       56420 non-null  float64
 19  Temp9am        56420 non-null  float64
 20  Temp3pm        56420 non-null  float64
 21  RainToday      56420 non-null  object
 22  RainTomorrow   56420 non-null  object
dtypes: float64(16), object(7)
memory usage: 9.9+ MB

Думаю что из даты нам нужен только месяц, потому что год и число врядли так влияют на погоду

In [749]:
f = lambda x : str(x)[5:7]
data['Date'] = data['Date'].transform(f)
data['Date'] = data['Date'].astype(int)

In [750]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           56420 non-null  int32
 1   Location       56420 non-null  object
 2   MinTemp        56420 non-null  float64
 3   MaxTemp        56420 non-null  float64
 4   Rainfall       56420 non-null  float64
 5   Evaporation    56420 non-null  float64
 6   Sunshine       56420 non-null  float64
 7   WindGustDir    56420 non-null  object
 8   WindGustSpeed  56420 non-null  float64
 9   WindDir9am     56420 non-null  object
 10  WindDir3pm     56420 non-null  object
 11  WindSpeed9am   56420 non-null  float64
 12  WindSpeed3pm   56420 non-null  float64
 13  Humidity9am    56420 non-null  float64
 14  Humidity3pm    56420 non-null  float64
 15  Pressure9am    56420 non-null  float64
 16  Pressure3pm    56420 non-null  float64
 17  Cloud9am       56420 non-null  float64
 18  Cloud3pm       56420 non-null  float64
 19  Temp9am        56420 non-null  float64
 20  Temp3pm        56420 non-null  float64
 21  RainToday      56420 non-null  object
 22  RainTomorrow   56420 non-null  object
dtypes: float64(16), int32(1), object(6)
memory usage: 9.7+ MB

Rain today и Rain Tomorrow переведу в бинарный тип данных

In [751]:
f = lambda x : 0 if (x == "No") else 1
data['RainToday'] = data['RainToday'].transform(f)
data['RainToday'] = data['RainToday'].astype(int)

data['RainTomorrow'] = data['RainTomorrow'].transform(f)
data['RainTomorrow'] = data['RainTomorrow'].astype(int)

In [752]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,1,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
1,1,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
2,1,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
3,1,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
4,1,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56415,6,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,0,0
56416,6,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,0,0
56417,6,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,0,0
56418,6,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,0,0
56419,6,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,0,0

In [753]:
print(len(data.loc[data['RainToday'] == 1]))
print(len(data.loc[data['RainToday'] == 0]))

12462
43958

In [754]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           56420 non-null  int32
 1   Location       56420 non-null  object
 2   MinTemp        56420 non-null  float64
 3   MaxTemp        56420 non-null  float64
 4   Rainfall       56420 non-null  float64
 5   Evaporation    56420 non-null  float64
 6   Sunshine       56420 non-null  float64
 7   WindGustDir    56420 non-null  object
 8   WindGustSpeed  56420 non-null  float64
 9   WindDir9am     56420 non-null  object
 10  WindDir3pm     56420 non-null  object
 11  WindSpeed9am   56420 non-null  float64
 12  WindSpeed3pm   56420 non-null  float64
 13  Humidity9am    56420 non-null  float64
 14  Humidity3pm    56420 non-null  float64
 15  Pressure9am    56420 non-null  float64
 16  Pressure3pm    56420 non-null  float64
 17  Cloud9am       56420 non-null  float64
 18  Cloud3pm       56420 non-null  float64
 19  Temp9am        56420 non-null  float64
 20  Temp3pm        56420 non-null  float64
 21  RainToday      56420 non-null  int32
 22  RainTomorrow   56420 non-null  int32
dtypes: float64(16), int32(3), object(4)
memory usage: 9.3+ MB

In [755]:
data['Location'].unique()

array(['Cobar', 'CoffsHarbour', 'Moree', 'NorfolkIsland', 'Sydney',
       'SydneyAirport', 'WaggaWagga', 'Williamtown', 'Canberra', 'Sale',
       'MelbourneAirport', 'Melbourne', 'Mildura', 'Portland', 'Watsonia',
       'Brisbane', 'Cairns', 'Townsville', 'MountGambier', 'Nuriootpa',
       'Woomera', 'PerthAirport', 'Perth', 'Hobart', 'AliceSprings',
       'Darwin'], dtype=object)

In [756]:
data['WindDir3pm'].unique()

array(['SW', 'SSE', 'NNW', 'WSW', 'WNW', 'S', 'ENE', 'N', 'SE', 'NNE',
       'NW', 'E', 'ESE', 'NE', 'SSW', 'W'], dtype=object)

К сожалению остались 4 столбца с ктегориальными данными, они не упорядоченные поэтому не могу использовать OrdinalEncoder
а например бинарный энкодер размножит столбцы гораздо сильнее чем горячее кодирование

In [757]:
categorical_features = ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']
categorical_encoder = OneHotEncoder(sparse_output=False)

In [758]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[
     ('cat', categorical_encoder, categorical_features)
     ])
# Получите закодированные функции в виде DataFrame.
ct.set_output(transform='pandas')
encoded_features = ct.fit_transform(data)
encoded_features.head()

,cat__Location_AliceSprings,cat__Location_Brisbane,cat__Location_Cairns,cat__Location_Canberra,cat__Location_Cobar,cat__Location_CoffsHarbour,cat__Location_Darwin,cat__Location_Hobart,cat__Location_Melbourne,cat__Location_MelbourneAirport,...,cat__WindDir3pm_NNW,cat__WindDir3pm_NW,cat__WindDir3pm_S,cat__WindDir3pm_SE,cat__WindDir3pm_SSE,cat__WindDir3pm_SSW,cat__WindDir3pm_SW,cat__WindDir3pm_W,cat__WindDir3pm_WNW,cat__WindDir3pm_WSW
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [759]:
data=data.drop(['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm'],axis=1)
data

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,1,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
1,1,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
2,1,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
3,1,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
4,1,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56415,6,19.3,33.4,0.0,6.0,11.0,35.0,9.0,20.0,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,0,0
56416,6,21.2,32.6,0.0,7.6,8.6,37.0,13.0,11.0,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,0,0
56417,6,20.7,32.8,0.0,5.6,11.0,33.0,17.0,11.0,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,0,0
56418,6,19.5,31.8,0.0,6.2,10.6,26.0,9.0,17.0,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,0,0
56419,6,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,0,0

In [760]:
encoded_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 74 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   cat__Location_AliceSprings      56420 non-null  float64
 1   cat__Location_Brisbane          56420 non-null  float64
 2   cat__Location_Cairns            56420 non-null  float64
 3   cat__Location_Canberra          56420 non-null  float64
 4   cat__Location_Cobar             56420 non-null  float64
 5   cat__Location_CoffsHarbour      56420 non-null  float64
 6   cat__Location_Darwin            56420 non-null  float64
 7   cat__Location_Hobart            56420 non-null  float64
 8   cat__Location_Melbourne         56420 non-null  float64
 9   cat__Location_MelbourneAirport  56420 non-null  float64
 10  cat__Location_Mildura           56420 non-null  float64
 11  cat__Location_Moree             56420 non-null  float64
 12  cat__Location_MountGambier      56420 non-null  float64
 13  cat__Location_NorfolkIsland     56420 non-null  float64
 14  cat__Location_Nuriootpa         56420 non-null  float64
 15  cat__Location_Perth             56420 non-null  float64
 16  cat__Location_PerthAirport      56420 non-null  float64
 17  cat__Location_Portland          56420 non-null  float64
 18  cat__Location_Sale              56420 non-null  float64
 19  cat__Location_Sydney            56420 non-null  float64
 20  cat__Location_SydneyAirport     56420 non-null  float64
 21  cat__Location_Townsville        56420 non-null  float64
 22  cat__Location_WaggaWagga        56420 non-null  float64
 23  cat__Location_Watsonia          56420 non-null  float64
 24  cat__Location_Williamtown       56420 non-null  float64
 25  cat__Location_Woomera           56420 non-null  float64
 26  cat__WindGustDir_E              56420 non-null  float64
 27  cat__WindGustDir_ENE            56420 non-null  float64
 28  cat__WindGustDir_ESE            56420 non-null  float64
 29  cat__WindGustDir_N              56420 non-null  float64
 30  cat__WindGustDir_NE             56420 non-null  float64
 31  cat__WindGustDir_NNE            56420 non-null  float64
 32  cat__WindGustDir_NNW            56420 non-null  float64
 33  cat__WindGustDir_NW             56420 non-null  float64
 34  cat__WindGustDir_S              56420 non-null  float64
 35  cat__WindGustDir_SE             56420 non-null  float64
 36  cat__WindGustDir_SSE            56420 non-null  float64
 37  cat__WindGustDir_SSW            56420 non-null  float64
 38  cat__WindGustDir_SW             56420 non-null  float64
 39  cat__WindGustDir_W              56420 non-null  float64
 40  cat__WindGustDir_WNW            56420 non-null  float64
 41  cat__WindGustDir_WSW            56420 non-null  float64
 42  cat__WindDir9am_E               56420 non-null  float64
 43  cat__WindDir9am_ENE             56420 non-null  float64
 44  cat__WindDir9am_ESE             56420 non-null  float64
 45  cat__WindDir9am_N               56420 non-null  float64
 46  cat__WindDir9am_NE              56420 non-null  float64
 47  cat__WindDir9am_NNE             56420 non-null  float64
 48  cat__WindDir9am_NNW             56420 non-null  float64
 49  cat__WindDir9am_NW              56420 non-null  float64
 50  cat__WindDir9am_S               56420 non-null  float64
 51  cat__WindDir9am_SE              56420 non-null  float64
 52  cat__WindDir9am_SSE             56420 non-null  float64
 53  cat__WindDir9am_SSW             56420 non-null  float64
 54  cat__WindDir9am_SW              56420 non-null  float64
 55  cat__WindDir9am_W               56420 non-null  float64
 56  cat__WindDir9am_WNW             56420 non-null  float64
 57  cat__WindDir9am_WSW             56420 non-null  float64
 58  cat__WindDir3pm_E               56420 non-null  float64
 59  cat__WindDir3pm_ENE             56420 non-null  float64
 60  cat__WindDir3pm_ESE             56420 non-null  float64
 61  cat__WindDir3pm_N               56420 non-null  float64
 62  cat__WindDir3pm_NE              56420 non-null  float64
 63  cat__WindDir3pm_NNE             56420 non-null  float64
 64  cat__WindDir3pm_NNW             56420 non-null  float64
 65  cat__WindDir3pm_NW              56420 non-null  float64
 66  cat__WindDir3pm_S               56420 non-null  float64
 67  cat__WindDir3pm_SE              56420 non-null  float64
 68  cat__WindDir3pm_SSE             56420 non-null  float64
 69  cat__WindDir3pm_SSW             56420 non-null  float64
 70  cat__WindDir3pm_SW              56420 non-null  float64
 71  cat__WindDir3pm_W               56420 non-null  float64
 72  cat__WindDir3pm_WNW             56420 non-null  float64
 73  cat__WindDir3pm_WSW             56420 non-null  float64
dtypes: float64(74)
memory usage: 31.9 MB

In [761]:
df_concat = pd.concat([
    data,
    encoded_features
], axis=1)

In [762]:
df_concat

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,cat__WindDir3pm_NNW,cat__WindDir3pm_NW,cat__WindDir3pm_S,cat__WindDir3pm_SE,cat__WindDir3pm_SSE,cat__WindDir3pm_SSW,cat__WindDir3pm_SW,cat__WindDir3pm_W,cat__WindDir3pm_WNW,cat__WindDir3pm_WSW
0,1,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56415,6,19.3,33.4,0.0,6.0,11.0,35.0,9.0,20.0,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56416,6,21.2,32.6,0.0,7.6,8.6,37.0,13.0,11.0,56.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
56417,6,20.7,32.8,0.0,5.6,11.0,33.0,17.0,11.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
56418,6,19.5,31.8,0.0,6.2,10.6,26.0,9.0,17.0,62.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56419,6,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

предобработку завершил

In [796]:
X=df_concat.drop(['RainTomorrow'],axis=1)
y=df_concat['RainTomorrow']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

KNN метод

In [797]:
pipeline = Pipeline(
    [
        ("scaler", MinMaxScaler()),
        ("model", KNeighborsClassifier(n_neighbors=15, metric='minkowski', p=2)),
    ]
)
pipeline.fit(X_train, y_train)
y_knn_pred = pipeline.predict(X_test)

In [798]:
metric.roc_auc_score(y_test, y_knn_pred)

0.6429650408985604

In [799]:
print(classification_report(y_test, y_knn_pred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89     14587
           1       0.66      0.33      0.44      4032

    accuracy                           0.82     18619
   macro avg       0.75      0.64      0.67     18619
weighted avg       0.80      0.82      0.79     18619